---
import { Image } from "astro:assets";
import floppy_1 from "../assets/floppy_1.svg";
import floppy_2 from "../assets/floppy_2.svg";
import floppy_3 from "../assets/floppy_3.svg";
import floppy_4 from "../assets/floppy_4.svg";
import floppy_5 from "../assets/floppy_5.svg";
import wordmark_ondark from "../assets/wordmark-ondark.svg";
import wordmark_onlight from "../assets/wordmark-onlight.svg";
import robolab from "../assets/robolab.jpg";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { ScrollSmoother } from "gsap/ScrollSmoother";
    gsap.fromTo("#floppy-stack img", { autoAlpha: 0, scale: 0.6 }, { autoAlpha: 1, scale: 1, duration: 0.8, ease: "power2.out", stagger: 0.12 });
    // gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
    // ScrollSmoother.create({
    // smooth: 0,
    // effects: true,
    // });
    gsap.registerPlugin(ScrollTrigger);

    // for (const img of document.querySelectorAll("#floppy-stack img")) {
    //     gsap.fromTo(
    //         img,
    //         {
    //             autoAlpha: 0,
    //             scale: 0.6,
    //         },
    //         {
    //             autoAlpha: 1,
    //             scale: 1,
    //             duration: 0.8,
    //             ease: "power2.out",
    //             stagger: 0.12,
    //             scrollTrigger: {
    //                 trigger: img,
    //                 markers: true,
    //                 start: "top center",
    //             },
    //         },
    //     );
    // }
</script>

<Layout title="">
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <Header />
            <div class="max-w-(--breakpoint-xl) px-8 mx-auto floppy-stack">
                <!-- Stack of floppy images -->
                <div id="floppy-stack" class="text-[0px] relative">
                    <Image loading="lazy" data-lag="0.3" class="w-full relative" src={floppy_1} alt="Floppy" />
                    <Image loading="lazy" data-lag="0.6" class="w-full relative -mt-[32%] -z-10" src={floppy_2} alt="Floppy" />
                    <Image loading="lazy" data-lag="0.9" class="w-full relative -mt-[32%] -z-20" src={floppy_3} alt="Floppy" />
                    <Image loading="lazy" data-lag="1.2" class="w-full relative -mt-[32%] -z-30" src={floppy_4} alt="Floppy" />
                    <Image id="gay" loading="lazy" data-lag="1.5" class="w-full relative -mt-[32%] -z-40" src={floppy_5} alt="Floppy" />
                </div>
                <div class="pt-16">
                    <Image src={wordmark_ondark} alt="Raffles Institution Infocomm Club" class="w-full hidden dark:block" />
                    <Image src={wordmark_onlight} alt="Raffles Institution Infocomm Club" class="w-full dark:hidden" />
                </div>
            </div>
            <div class="max-w-(--breakpoint-xl) px-8 mx-auto"><div class="bg-red-500">amogu</div></div>
            <Footer />
        </div>
    </div>
</Layout>
