---
import { Image } from "astro:assets";
import floppy_1 from "../assets/floppy_1.svg";
import floppy_2 from "../assets/floppy_2.svg";
import floppy_3 from "../assets/floppy_3.svg";
import floppy_4 from "../assets/floppy_4.svg";
import floppy_5 from "../assets/floppy_5.svg";
import robolab from "../assets/robolab.jpg";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="">
    <div class="pt-8 px-6 sm:max-w-[80vw] lg:max-w-[70vw] mx-auto floppy-stack">
        <div class="text-[0px] relative">
            <Image loading="lazy" class="floppy w-full relative" src={floppy_1} alt="Floppy" />
            <Image loading="lazy" class="floppy w-full relative -mt-[32%] -z-10" src={floppy_2} alt="Floppy" />
            <Image loading="lazy" class="floppy w-full relative -mt-[32%] -z-20" src={floppy_3} alt="Floppy" />
            <Image loading="lazy" class="floppy w-full relative -mt-[32%] -z-30" src={floppy_4} alt="Floppy" />
            <Image loading="lazy" class="floppy w-full relative -mt-[32%] -z-40" src={floppy_5} alt="Floppy" />
        </div>
        <div class="pt-16">
            <image src="/wordmark-onlight.svg" class="w-full dark:hidden" />
            <image src="/wordmark-ondark.svg" class="w-full hidden dark:block" />
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 mb-16 sm:px-16 w-full text-black dark:text-white">
        <article class="px-4 max-w-3xl pb-8 mx-auto mt-18">
            <div>
                <p class="leading-7 [&:not(:first-child)]:mt-6">
                    The Raffles Institution Infocomm Club is a place for students to discover their interests in technology. We give every member an
                    opportunity to discover new skills, develop their own projects, and grow together with a community.
                </p>
                <h2 class="mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0">Activities</h2>
                <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                    <li>Robotics</li>
                    <li>CP·IO (Competitive Programming and Informatics Olympiad)</li>
                    <li>Red (Cybersecurity)</li>
                    <li>Figma</li>
                    <li>Meta Digital Skills Programme: Artificial Intelligence</li>
                    <li>Swift Coding Club</li>
                </ul>
                <h2 class="mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0">Competitions</h2>
                <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
                    <li>National Youth Tech Championship (Champions, 2024)</li>
                    <li>National Olympiad in Informatics</li>
                    <li>World Robot Olympiad</li>
                    <li>IDE Series</li>
                    <li>Sentinel Challenge</li>
                    <li>Singapore VEX Tournament</li>
                </ul>
                <p class="leading-7 [&:not(:first-child)]:mt-6">Our CCA sessions are held every Friday from 1.30pm to 3.30pm.</p>
            </div>
        </article>
        <Image src={robolab} alt="An RIICC sign in the Robolab." />
    </div>
    <Footer />
</Layout>
